body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #4B0082; /* Roxo escuro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #800080; /* Roxo */
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #800080;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: #800080;
}
